<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 定義日誌的目標，這裡示範輸出到檔案 -->
	<targets>
		<!-- 使用 Layout Renderer ${var:logFileName} 取得 NLog 變數的值 -->
		<target name="file" xsi:type="File" fileName="C:/YourAbsolutePath/Logs/PriceWeb${date:format=yyyy-MM-dd}.txt" 
				layout="${longdate} [${uppercase:${level}}] ${message}" />
	</targets>

	<!-- 配置日誌規則 -->
	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>
